Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/JSQWebViewController.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/PKHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/Pods-QRCode.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/SnapKit.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/SVProgressHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/SwiftyUserDefaults.xcscheme
Pods/Pods.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/xcschememanagement.plist
QRCode.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/QRCode.xcscheme
QRCode.xcodeproj/xcuserdata/sidechef.xcuserdatad/xcschemes/xcschememanagement.plist
QRCode.xcworkspace/xcuserdata/sidechef.xcuserdatad/UserInterfaceState.xcuserstate
# Cocoapods
Pods/
