<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>525188076636-2o8uf0lmspsv8h0gf21s92h0ne5eskkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525188076636-2o8uf0lmspsv8h0gf21s92h0ne5eskkq</string>
	<key>API_KEY</key>
	<string>AIzaSyBfYZIHsYVxRX6Kg0oUKO7o6pXAnk5VFvg</string>
	<key>GCM_SENDER_ID</key>
	<string>525188076636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neuneed.qrcode</string>
	<key>PROJECT_ID</key>
	<string>colorful-qrcode</string>
	<key>STORAGE_BUCKET</key>
	<string>colorful-qrcode.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:525188076636:ios:ba6345876e058888</string>
	<key>DATABASE_URL</key>
	<string>https://colorful-qrcode.firebaseio.com</string>
</dict>
</plist>